{% extends 'base.html' %}

{% block title %}imager profile{% endblock %}

{% block content %}
    <br>
    <p>username: {{ user.username }}</p>
    <p>first name: {{ user.first_name|default:"who are you?" }}</p>
    <p>last name: {{ user.last_name|default:"who are you?" }}</p>
    <p>email: {{ user.email|urlize|default:"whats your email address?" }}</p>
    <p>Last Login: {{ user.last_login }}</p>
    <p>Member Since: {{ user.date_joined }}</p>
    <br>
    <p>camera: {{ user.profile.camera|default:"add your favorite camera!" }}</p>
    <p>address: {{ user.profile.address|default:"add your address!" }}</p>
    <p>website: {{ user.profile.website|urlize|default:"add your url" }}</p>
    <br>
    <p>uploaded photos: {{ user.photo_set.count }}</p>
    <p>albums created: {{ user.album_set.count }}</p>
    <form action={% url 'edit_profile' %} method="get">
        <input type="submit" value="Edit Profile"
            name="Submit" id="frm1_submit" />
{% endblock %}
